h1 {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h3 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 500;
}

#left {
    float: left;
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 300;
    border: 1px red solid;
    border-radius: 15px;
    list-style-position: inside;
    padding: 10px;
}

#right {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 300;
    float: right;
    width: 45%;
    border: 1px red dashed;
    border-radius: 15px;
    list-style-position: inside;
    padding: 10px;
}

#bottom {
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

ul {
    list-style-type: upper-roman;
}

.btmr {
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }