h1 {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.left {
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    float: left;
}

.right {
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    float: right;
}

.last {
    width: 100%;
    margin-top: 60%;
}

.btmr {
    float: right;
}